* {
    font-family: 'Alfa Slab One', cursive;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

.border {
    margin: 0;
    padding: 0px;
    width: 1280px;
    height: 600px;
    border-radius: 10px;
    border-style: solid;
    position: fixed;
    top: 5%;
}

div.about-txt {
    position: absolute;
    top: 25%;
}

.about-txt h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about-txt p {
    letter-spacing: 1px;
    white-space: normal;
    max-width: 30%;
    position: relative;
    left: 35%;
}

.socials {
    position: absolute;
    top: 50%;
}

img {
    margin: 0;
    padding: 0;
    border-style: 0;
    filter: invert(1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 38%;
    border: none;
    transform: translateY(0);
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.instagram:hover {
    transform: translateY(-10px);
}

.inbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 49%;
    transform: translateY(0);
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.inbox:hover {
    transform: translateY(-10px);
}

.giftbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60.2%;
    left: 60%;
    transform: translateY(0);
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.giftbox:hover {
    transform: translateY(-10px);
}

.memoji {
    filter: invert(0);
    border: 0%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 2
}

.memoji {
    animation-duration: 2s;
    animation-name: zoomout;
    animation-timing-function: cubic-bezier(0, .99, .36, 1);
}

.white-solid {
    background-color: white;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 39%;
    left: 15%;
    border-radius: 100px;
    filter: blur(100px);
}

@keyframes zoomout {
    from {
        transform: scale(2);
        filter: blur(80px);
    }
    to {
        -webkit-filter: grayscale(100%);
        transform: scale(1);
        filter: blur(0);
        animation-delay: 100s;
    }
}


/*MOBILE PART */

@media only screen and (max-width: 375px) {
    /*FOR iPHONE 6-8*/
    .border {
        width: 330px;
        height: 667px;
        position: fixed;
        z-index: 1;
        background-color: transparent;
    }
    .about-txt {
        margin: 0;
        padding: 0;
    }
    .about-txt p {
        margin: 0;
        padding: 0;
        text-align: center;
        max-width: 70%;
        position: relative;
        left: 15%;
    }
    .instagram {
        position: absolute;
        top: 65%;
        left: 20%;
        z-index: 2;
    }
    .inbox {
        position: absolute;
        top: 65%;
        left: 45%;
        z-index: 2;
    }
    .giftbox {
        position: absolute;
        top: 65%;
        left: 68%;
        z-index: 2;
    }
    .memoji {
        position: absolute;
        top: 75%;
        left: 16%;
    }
    .white-solid {
        transform: scale(.5);
        position: absolute;
        top: 85%;
        left: 35%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 500px) and (min-width: 390px) {
    /*FOR iPHONE 8++*/
    .border {
        width: 350px;
        height: 825px;
        position: fixed;
        z-index: 1;
        background-color: transparent;
    }
    .about-txt {
        margin: 0;
        padding: 0;
    }
    .about-txt p {
        margin: 0;
        padding: 0;
        text-align: center;
        max-width: 70%;
        max-height: 80%;
        position: relative;
        left: 15%;
    }
    .instagram {
        position: absolute;
        top: 50%;
        left: 20%;
        z-index: 2;
    }
    .inbox {
        top: 50%;
        left: 45%;
        z-index: 2;
    }
    .giftbox {
        position: absolute;
        top: 50%;
        left: 68%;
        z-index: 2;
    }
    .memoji {
        position: absolute;
        top: 60%;
        left: 20%;
    }
    .white-solid {
        transform: scale(.5);
        position: absolute;
        top: 70%;
        left: 35%;
        overflow: hidden;
    }
}