    * {
        font-family: 'Alfa Slab One', cursive;
        background-color: rgb(15, 15, 15);
        color: white;
    }
    
    body {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
    }
    
    div.main {
        position: absolute;
        top: 25%;
    }
    
    div h1 {
        position: relative;
        left: 5%;
        letter-spacing: 25px;
    }
    
    .main img {
        filter: grayscale(100);
        transform: scale(1);
        transition: all ease-in-out 1s;
    }
    
    .main img:hover {
        filter: grayscale(0);
        transform: scale(.8);
        transition: all ease-out 0.2s;
    }