 /*Dev Lurking????????*/
 
 * {
     --white: #ffff;
     --black: #0c0e0c;
     --red: #d8323c;
     --light-grey: #eaebea;
     --grey: #5a5a5a;
     --border-radius: 10px;
     border-radius: var(--border-radius);
 }
 
 body {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
     height: 200vh;
     background: var(--black);
     color: var(--white);
 }
 /*Home*/
 
 .home {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .homeContainer {
     margin: 2rem;
     padding: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .homeContent {
     line-height: 1px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /*placeholder*/
     user-select: none;
     /*placeholder*/
 }
 
 .homeContent span {
     color: var(--red);
 }
 
 .homeContent p {
     letter-spacing: 3px;
     color: var(--grey);
 }
 
 .soon {
     position: fixed;
     font-style: italic;
     top: 95%;
 }
 /*About*/